.main-playlist {
    display: block;
    height : 100%;
    left   : 0;

    position: absolute;
    top     : 0;
    width   : 100%;

    .content {
        background: linear-gradient(135deg, rgb(8, 3, 34) 0%, rgb(41, 41, 66) 100%) !important;
        display   : flex;

        .avatar {

            display : flex;
            position: relative;

            img {
                width     : 230px;
                height    : 230px;
                margin-top: 0 auto;
                position  : absolute;
                bottom    : 0;
            }
        }

        .title-playlist {
            margin-top: 240px;
            color     : white;
            width     : 70%;

            .song-Name {
                font-size: 96px;

            }
        }
    }

    .like-song {
        display: flex;
        padding: 27px;

        .button-playlist {
            margin-left     : 20px;
            border          : 1px solid transparent;
            border-radius   : 50%;
            height          : 70px;
            width           : 70px;
            background-color: rgb(19, 204, 19);
            cursor          : pointer;
            margin-right    : 25px;

            i {
                font-size      : 30px;
                color          : whitesmoke;
                justify-content: center;
                margin         : 0 auto;
                margin-left    : 24px;
                margin-top     : 20px;

                &:hover {
                    transform: scale(1.005);
                }
            }

            &:hover {
                border   : 1px solid #fff;
                transform: scale(1.05);
            }

        }

        .button-like {
            padding-left: 16px;
            margin-top  : 10px;
            cursor      : pointer;

            &:hover {
                font-weight: lighter;
                transform  : scale(1.05);
                color      : #f0fff0;
            }

            i {
                color    : white;
                font-size: 60px;

                &:hover {
                    color: rgb(247, 7, 7);
                }
            }
        }

        .button-other {
            padding-left: 26px;
            cursor      : pointer;
            font-size   : 48px;

            &:hover {
                font-weight: lighter;
                transform  : scale(1.05);
                color      : #f0fff0;
            }
        }
    }

    .info-song-play {
        display        : flex;
        justify-content: start;

        .name-song {
            padding-left: 10px;
            font-size   : 15px;
            margin-top  : 18px;
        }
    }
}